.content {
    padding: 25px 0;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 20px;
}

.list li {
    width: 100%;
}

.list li a svg {
    width: 40px;
    margin-bottom: 20px;
    height: 40px;
    fill: #6661f4;
}

.list li a div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    color: #000;
    font-size: 22px;
}

.desc {
    color: #0000007b;
    font-size: 17px;
}

.list li a div svg {
    width: 20px;
    margin: 0;
    transition: 300ms all;
}

.list li a {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 25px;
    border: 1px solid rgb(214, 221, 235);
    background-color: #fff;
    border-radius: 4px;
    font-size: 20px;
    color: #000;
    position: relative;
    z-index: 2;
}

.list li a::before {
    width: 0%;
    height: 0%;
    background-color: #6661f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    z-index: -1;
    transition: 300ms all;
}

.list li a:hover::before {
    color: #fff;
    width: 100%;
    height: 100%;
}

.list li a:hover .title {
    color: #fff;
}

.list li a:hover .desc {
    color: #fff;
}

.list li a:hover div svg {
    transform: translateX(10px);
}

.list li a:hover svg {
    fill: #fff;
}