.apply {
    display: flex;
    border: 1px solid rgb(214, 221, 235);
    padding: 25px 20px;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    margin: 20px auto 0;
}

.line {
    border-bottom: 1px solid #3e3d3d22;
    padding: 20px 0;
}

.line:first-child {
    padding-top: 0;
}

.line:last-child {
    border-bottom: none;
}

.job {
    font-size: 21px;
}

.apply img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.top div {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 6px;
    font-size: 17px;
    color: #515B6F;
}

.circle {
    width: 6px;
    height: 6px;
    background: #515B6F;
    border-radius: 50%;
}

.row a {
    background-color: #6661f4;
    color: #fff;
    border-radius: 5px;
    padding: 13px 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.row a svg {
    width: 20px;
    fill: #fff;
}

.row a:hover {
    background-color: #6661f4cc;
}

.detail {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.detailRow {
    display: flex;
    gap: 45px;
    padding: 20px 0;
}

.detailRow div h3 {
    font-size: 25px;
    margin-bottom: 17px;
    color: #3e3d3d;
}

.detailRow div p {
    font-size: 16px;
    line-height: 30px;
}

.detailRow div ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailRow div ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.right ul {
    margin-top: 30px;
}

.right ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.right ul li:last-child {
    margin-bottom: 0;
}

.title {
    font-size: 17px;
    color: #515B6F;
}

.desc {
    font-size: 17px;
    color: #202430;
}

.right div {
    border-top: 1px solid #515b6f1f;
    padding-top: 30px;
    margin-top: 30px;
}

.right div button {
    background: #3e3d3d;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
}

.date {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
    color: #515B6F;
}

.date svg {
    width: 14px;
    fill: #515B6F;
}

.rightArea {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bookMark {
    width: 50px;
    height: 50px;
    border-right: 1px solid #3e3d3d42;
    padding-right: 15px;
    cursor: pointer;
}

@media only screen and (max-width:992px) {

    .detailRow {
        flex-direction: column;
        gap: 0px;
    }

    .left {
        width: 100%;
    }

    .left h3 {
        font-size: 13px;
    }

    .right {
        width: 100%;
        margin-top: 25px;
    }

    .line:last-child {
        border-bottom: 1px solid #3e3d3d22;
    }

    .detailRow div h3 {
        font-size: 20px;
    }

    .detailRow div p {
        font-size: 15px;
        line-height: 27px;
    }

    .detailRow div ul li {
        font-size: 15px;
        line-height: 27px;
    }
}

@media only screen and (max-width:860px) {

    .detailRow {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .apply {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        position: relative;
        margin-bottom: 0;
        padding: 15px 20px;
    }

    .apply img {
        width: 70px;
        height: 70px;
    }

    .row {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .bookMark {
        position: absolute;
        top: 5px;
        right: 0px;
        border: none;
    }

    .rightArea {
        width: 100%;
    }

    .job {
        margin: 15px auto 0;
        text-align: start;
        font-size: 19px;
    }

    .row a {
        margin-top: 15px;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        display: flex;
    }

    .row a svg {
        width: 17px;
    }

    .top div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        padding-left: 11px;
        font-size: 16px;
        margin-top: 10px;
    }

    .top div h4 {
        position: relative;
        padding-left: 7px;
    }

    .top div h4::after {
        width: 5px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: -9px;
        transform: translateY(-50%);
        background: #515B6F;
        border-radius: 50%;
        content: "";
    }

    .top div span {
        position: relative;
        padding-left: 7px;
    }

    .top div span::after {
        width: 5px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        background: #515B6F;
        border-radius: 50%;
        content: "";
    }

    .circle {
        display: none;
    }

    .right ul li {
        margin-bottom: 5px;
    }

    .right ul li span {
        font-size: 16px;
    }

    .bookMark {
        width: 40px;
        height: 40px;
        padding-right: 10px;
    }

    .date {
        font-size: 15px;
    }
}