.content {
    margin-top: 85px;
    padding-bottom: 30px;
}

.content h2 {
    padding: 20px 0 10px;
    text-align: center;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content h2 svg {
    height: 30px;
    fill: rgb(90, 67, 239);
}

.content .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.checked {
    text-align: center;
    width: 100%;
    font-size: 17px;
    top: -25px;
    position: absolute;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.checked svg {
    height: 20px;
    fill: green;
}

.content .row img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.content .row div {
    border: 1px solid #00000020;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    position: relative;
    transition: 400ms all;
}

.content h3 {
    margin: 50px 0 20px;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #00000018;
}

.content h3 svg {
    height: 23px;
    fill: rgb(94, 72, 241);
}

.content .row div:hover {
    background: #0979921a;
}

.content .row div span {
    font-size: 14px;
}

.content .row div .delete {
    position: absolute;
    top: 10px;
    left: 10px;
}

.delete button {
    background: transparent;
    cursor: pointer;
}

.delete button svg {
    height: 17px;
    fill: red;
}

.content .row div .edit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit button {
    background: transparent;
    cursor: pointer;
}

.edit button svg {
    height: 17px;
    fill: #000;
}

.content .row div h4 {
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-width:768px) {

    .content .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}


@media only screen and (max-width:568px) {

    .content .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .content h2 {
        font-size: 20px;
        padding: 0;
    }

    .content h2 svg {
        height: 23px;
    }

    .content h3 {
        font-size: 18px;
        margin: 30px 0 20px;
    }

    .content h3 svg {
        height: 18px;
    }

    .content .row img {
        width: 40px;
        height: 40px;
    }

    .checked {
        top: -10px;
    }

    .content .row div h4 {
        font-size: 13px;
    }

    .content .row div span {
        font-size: 12px;
    }
}