.hero {
    background-color: #f7f7fd;
    padding: 70px 0;
    position: relative;
    overflow: hidden;
}

.hero::after {
    background-color: #fff;
    transform: rotate(10deg);
    height: 200px;
    width: 200px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    bottom: -20px;
    right: -20px;
    content: "";
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
}

.title {
    font-size: 47px;
    gap: 10px;
    display: flex;
}

.desc {
    font-size: 17px;
    color: #787878;
}

.title span {
    color: #26A4FF;
    display: flex;
    flex-direction: column;
}

.form {
    background: #fff;
    max-width: 570px;
    width: 100%;
    padding: 20px 25px;
    border: 1px solid #00000010;
    border-radius: 40px;
}

.form div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form input {
    width: 100%;
    font-family: poppins;
    color: #000;
    font-size: 17px;
    padding-bottom: 7px;
    border-bottom: 1px solid #2e5a861e;
}

.form svg {
    width: 30px;
}

.form input::placeholder {
    font-family: poppins;
    color: #00000087;
    font-size: 17px;
}

.form .search {
    color: #fff;
    background: #6661f4;
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 40px;
    cursor: pointer;
    transition: 300ms all;
}

.form .search:hover {
    background: #6661f4cf;
}