.select {
    color: #000;
    border: 1px solid #515b6f3a;
    border-radius: 10px;
    width: 95px;
    padding-left: 8px;
    height: 40px;
    font-size: 18px;
    appearance: none;
}

@media only screen and (max-width:992px) {
    .select {
        width: 100%;
        background-color: transparent;
        border: none;
    }
}