.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.content {
    padding: 30px 15px;
}

@media only screen and (max-width:992px) {
    .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:768px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:568px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }

    .content {
        padding: 15px 15px;
    }

}