.content {
    position: sticky;
    top: 100px;
}

.section {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.section .active svg {
    transform: rotate(90deg);
}

.section ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.section ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.section ::-webkit-scrollbar-thumb {
    background-color: #6661f4;
    outline: 1px solid slategrey;
}

.section .active ul {
    max-height: 250px;
    overflow: auto;
    transition: max-height 400ms all;
}

.section div ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.section div select {
    border: 1px solid #00000070;
    padding: 10px 20px;
    border-radius: 10px;
}

.title {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: 270px;
}

.title svg {
    width: 30px;
    height: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    color: #515b6f;
    width: 260px;
}

.list li input {
    width: 16px;
    height: 16px;
    display: flex;
    flex-shrink: 0;
    border: none;
    background: transparent;
}

.list li input[type="checkbox"] {
    accent-color: #6661f4;
}

.reset {
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(134.25deg, rgb(145, 129, 244) -5.847%, rgb(80, 56, 237) 109.546%);
    padding: 6px 0;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.reset svg {
    fill: #fff;
    width: 20px;
}

.reset:hover {
    background: #6661f4d8;
}

@media only screen and (max-width:992px) {
    .section {
        display: none;
    }
}