.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 221, 235);
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    justify-content: space-between;
    transition: 300ms all;
    cursor: pointer;
    user-select: none;
}

.NoResult {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100% - 270px);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0 20px;
}

.NoResult img {
    height: 200px;
    margin-bottom: 15px;
}

.NoResult a {
    border: 1px solid #6661f4;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 10px;
    transition: 300ms all;
    background: #6661f4;
    border: 1px solid #6661f4;
}

.NoResult a:hover{
    transform: scale(1.1);
}

.salary {
    font-size: 14px;
    color: #585858;
    margin-bottom: 6px;
    display: block;
}

.card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.detail {
    position: absolute;
    top: 7px;
    right: 7px;
    border: 1px solid #6661f4;
    background: #6661f4;
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
}

.card h4 {
    color: #000;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 17px;
}

.card ul {
    margin-top: 5px;
    display: flex;
    gap: 7px;
    font-size: 13px;
    margin-bottom: 6px;
    align-items: center;
    color: #515B6F;
}

.circle {
    width: 4px;
    height: 4px;
    background-color: #00000094;
    border-radius: 50%;
}

.card p {
    color: #515B6F;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.card:hover {
    background-color: #bad1e34e;
}

.date {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
    color: #515B6F;
}

.date svg {
    width: 14px;
    fill: #515B6F;
}

@media only screen and (max-width:992px) {
    .NoResult {
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        top: 138px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: calc(100% - 186px);
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 0 20px;
    }

    .NoResult img {
        height: 150px;
        margin-bottom: 10px;
    }

    .NoResult a {
        padding: 6px 25px;
    }
}

@media only screen and (max-width:578px) {
    .card {
        padding: 12px;
    }

    .card img {
        width: 50px;
        height: 50px;
    }

    .card h4 {
        font-size: 13px;
    }

    .salary {
        font-size: 11px;
    }

    .detail {
        padding: 2px 5px;
        font-size: 11px;
    }

    .card ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        font-size: 12px;
        margin-bottom: 6px;
    }

    .card ul li {
        position: relative;
        padding-left: 10px;
    }

    .card ul li::after {
        width: 4px;
        height: 4px;
        background: #515B6F;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1px;
        content: "";
    }

    .circle {
        display: none;
    }

    .card p {
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }

    .date svg {
        width: 12px;
    }
}