.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 221, 235);
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    justify-content: space-between;
    transition: 300ms all;
    cursor: pointer;
}

.card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.detail {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #6661f4;
    padding: 4px 10px;
    color: #6661f4;
    font-size: 13px;
    border-radius: 5px;
}

.card h4 {
    color: #000;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 17px;
}

.card ul {
    margin-top: 5px;
    display: flex;
    gap: 7px;
    font-size: 13px;
    margin-bottom: 10px;
    align-items: center;
    color: #515B6F;
}

.circle {
    width: 4px;
    height: 4px;
    background-color: #00000094;
    border-radius: 50%;
}

.card p {
    color: #515B6F;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.card:hover {
    transform: scale(1.1);
}

.date {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
    color: #515B6F;
}

.date svg {
    width: 14px;
    fill: #515B6F;
}

@media only screen and (max-width:578px) {
    .card img {
        width: 50px;
        height: 50px;
    }

    .card h4 {
        font-size: 13px;
    }

    .detail {
        padding: 2px 5px;
        font-size: 11px;
    }

    .card ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        font-size: 12px;
        margin-bottom: 6px;
    }

    .card ul li {
        position: relative;
        padding-left: 10px;
    }

    .card ul li::after {
        width: 4px;
        height: 4px;
        background: #515B6F;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1px;
        content: "";
    }

    .circle {
        display: none;
    }

    .card p {
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }

    .date svg {
        width: 12px;
    }
}