.header {
    padding: 20px 0;
    border-bottom: 1px solid #0000000e;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 3px;
    color: #000;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
}

.logo span {
    color: #515b6f;
}

.logo svg {
    fill: #2e5a86;
}

.list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.list li a {
    font-size: 18px;
    color: #515b6f;
    transition: 300ms all;
    position: relative;
    transition: 500ms all;
}

.list li a.active {
    color: #000;
}

.list li a.active::after {
    position: absolute;
    height: 2px;
    content: "";
    bottom: -30px;
    left: 0;
    background-color: #2e5a86;
    width: 100%;
    transition: 400ms all;
}

.list li a:hover {
    font-size: 18px;
    color: #000;
}

.create {
    background: #515b6f;
    padding: 8px 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff !important;
    gap: 6px;
    transition: 300ms all;
}

.create:hover {
    background: #515b6fde;
}

.create svg {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.mode {
    padding: 7px 10px;
    display: grid;
    place-items: center;
    border: 1px solid #e6e5e5;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: 300ms all;
}

.mode svg {
    width: 22px;
}

.mode:hover {
    background: #f0efefd2;
}