.header {
    padding: 20px 0;
    border-bottom: 1px solid #0000000e;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: hsla(0, 0%, 100%, .4);
    backdrop-filter: blur(5px);
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 25px;
    background: transparent;
    display: none;
}

.row div {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px !important;
    gap: 3px;
    color: #000;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
}

.logo span {
    color: #6661f4;
}

.logo svg {
    fill: #6661f4;
    margin-right: 10px;
}

.list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.list li a {
    font-size: 18px;
    color: #515b6f;
    position: relative;
}

.list li a.active {
    color: #6661f4;
}

.list li a.active::after {
    position: absolute;
    height: 3px;
    content: "";
    bottom: -30px;
    left: 0;
    background-color: #6661f4;
    width: 100%;
    transition: 400ms all;
}

.list li a:hover {
    color: #6661f4;
}

.create {
    background: #6661f4;
    padding: 8px 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #fff !important;
    gap: 6px;
    transition: 300ms all;
}

.create:hover {
    background: #6661f4cb;
}

.create svg {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.mode {
    padding: 7px 10px;
    display: grid;
    place-items: center;
    border: 1px solid #e6e5e5;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: 300ms all;
}

.mode svg {
    width: 22px;
}

.mode:hover {
    background: #f0efefd2;
}

@media only screen and (max-width:992px) {

    .header {
        padding: 15px 0;
    }

    .logo {
        font-size: 22px !important;
    }

    .bar {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #6661f4;
        border: 1px solid #515b6f21;
        height: 33px;
        width: 33px;
        border-radius: 5px;
    }

    .bar svg {
        width: 20px;
    }

    .header ul {
        display: none;
    }
}