.button {
    width: max-content;
    margin: 0 auto;
    padding: 7px 20px;
    background: #6661f4;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 400ms all;
}

.button:hover {
    transform: scale(0.9);
}