.content {
    width: 100%;
    min-height: 91vh;
    background-image: repeating-linear-gradient(45deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(135deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(256, 7%, 84%), hsl(256, 7%, 84%));
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 30px;
    max-width: 450px;
    width: 90%;
    border: 1px solid rgba(144, 129, 244, 0.176);
}

.login h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.login form input {
    padding: 15px 20px;
    color: #000;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    border-radius: 16px;
    background: rgba(240, 237, 255, 0.8);
}

.login form input::placeholder {
    color: #000;
    font-family: "Poppins", sans-serif;
}

.login button {
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
    transition: 400ms all;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(134.25deg, rgb(145, 129, 244) -5.847%, rgb(80, 56, 237) 109.546%);
}

.login button:hover {
    transform: scale(0.9);
}

@media only screen and (max-width:992px) {
    .content {
        margin-top: 65px;
        min-height: calc(100vh - 112px);
    }
}

@media only screen and (max-width:578px) {
    .login {
        padding: 20px;
    }
}