.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #000;
}

.logo span {
    color: #6661f4;
    margin-left: 6px;
}

.logo svg {
    fill: #6661f4;
    margin-right: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #00000019;
    padding: 18px 0;
}

.footer p {
    border-left: 2px solid #6661f4;
    padding-left: 10px;
    font-size: 18px;
}

@media only screen and (max-width:992px) {

    .footer {
        padding: 10px 0;
    }

    .logo {
        font-size: 18px;
    }

    .footer p {
        font-size: 15px;
    }
}